.wrapping {
    position: absolute;
    margin-top: 80vh;
    margin-left: 49%;
    z-index: 3;
    color: white;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
    .botarrow {
        animation: motion 1s linear 0s infinite alternate;
    }

    @keyframes motion {
        0% {
            margin-top: 0px;
        }

        100% {
            margin-top: 30px;
        }
    }

}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nowrapping {
    position: absolute;
    margin-top: 80vh;
    margin-left: 49%;
    z-index: 3;
    color: white;
    animation: fadeout 1.5s;
    -webkit-animation: fadeout 1.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
    .botarrow {
        animation: motion 1s linear 0s infinite alternate;
    }

    @keyframes motion {
        0% {
            margin-top: 0px;
        }

        100% {
            margin-top: 30px;
        }
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}